<a href="https://colab.research.google.com/github/brianchoi107/brian1/blob/main/Exer0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 
for mark in marks: 
  number=number+1
  if mark >= 60: 
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0 
for mark in marks: 
  number=number+1
  if mark < 60:
    continue
  print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [5]:
add=0
for i in range(1, 11):
  add=add+i

print(add)

55

In [6]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
  if marks[number] < 60: 
    continue
  print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [7]:
for i in range(2,10):  
  for j in range(1, 10): 
    print(i*j, end="")
  print('')

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281