<a href="https://colab.research.google.com/github/brianchoi107/brian1/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
test_list = ['one', 'two', 'three'] 
for i in test_list:
  print(i)

one
two
three

In [13]:
for i in range(1,5):
  print("give me %s apple" %i)

give me 1 apple
give me 2 apple
give me 3 apple
give me 4 apple

In [14]:
 a = [(1,2), (3,4), (5,6)]
 for (first, last) in a:
   print(first+last)

3
7
11

In [15]:
marks = [90, 25, 67, 45, 80]
number = 0 
for mark in marks:
  number = number +1 
  if mark >= 60: 
    print("%d번 학생은 합격입니다." % number)
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.